<sca-breadcrumb breads="appconf.breads" active="'tasks'"></sca-breadcrumb>
<div class="container">
    <h3>{{task.name}}</h3>
    <div class="page">
        <sca-wf-taskdeps taskid="taskid"></sca-wf-taskdeps>
        <hr>
        <button type="button" class="btn pull-right" ng-click="back()">Back</button>
        <br clear="both">
    </div>

    <!--
    <h3>Output</h3>
    <div class="page">
        <uib-tabset active="active">
            <uib-tab index="0" heading="Files">
                <br>
                <p ng-if="!task.resource_id" class="text-muted">Not yet submitted</p>
                <sca-product-raw ng-if="task.resource_id" taskid="taskid" path="path"></sca-product-raw>
                <small ng-if="resource" class="text-muted">
                    <i class="fa fa-server" aria-hidden="true"></i> {{resource.name}}:{{task._envs.SCA_TASK_DIR}}
                </small>
            </uib-tab>
            <uib-tab index="1" heading="Life Graphs">
                <br>
                <p ng-if="!task.products" class="text-muted">Output graphs not yet generated</p>
                <sca-product-lifeout ng-if="task.products" task="task" path="path"></sca-product-lifeout>
            </uib-tab>
        </uib-tabset>
    </div>
    -->
</div>

